.form-checkbox {
  margin-bottom: 15px;  
  display: flex;
  &__focused {
    position: relative;
    cursor: pointer;
    padding-left: 28px;
    font-size: 12px;
    font-family: 'roboto', sans-serif;
    font-weight: normal;
  }
  &__terms {
   color:#676F8F;
    &::before{
      top: 0;
      width: 19px;
      height: 19px;
      background: #fff;
      border: 1px solid #d4d5e8;
      border-radius: 4px;
    }
  }
}