.header__container {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  img {
    padding-right: .5rem;
  }
  button {
    cursor: pointer;
    background: unset;
    border: unset ;
  }
}

.header__phone {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #6769FF;
    font-size: 14px;
  }

@media screen and (min-width: 768px) {
  .header__container {
    max-width: 1140px;
    margin: auto;

    img {
      position: relative;
    }
  }
  .header__phone::before {
    content: "¿Tienes alguna duda?";
    color: #676F8F;
    font-size: 12px;
    padding-right: 1rem;
  }
}