.services-card {
  margin-top: 2rem;

  &__content {
  margin-top: 3rem;
  }
  &__container {
    display: flex;
  }
  &__service-info {
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    p {
      color: #494F66;
      font-family: 'lato', sans-serif;
      font-size: 1rem;
    }
  }
  &__checkbox {
    display: none;
  }
  &__checkbox:checked ~ .services-card__switch-ball::before {
    transform: translateX(39px);
    border: 1px solid #7CC954;
  }
  &__checkbox:checked ~ .services-card__switch-ball {
    background: #7CC954;
  }
  &__switch-ball{
    margin-left: auto;
    background: #E4E8F7;
    height: 40px;
    display: block;
    border-radius: 20px;
    width: 80px;
    padding: 1px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    &::before{
      content: "";
      display: block;
      width: 38px;
      height: 38px;
      background: #fff;
      border-radius: 50%;
      transition: .3s;
      will-change: transform;
      transform: translatex(0);
    }
  }
  &__text {
    margin-top: 1rem;
    font-weight: 14px;
    grid-column-end: span 2;
    font-family: 'roboto', sans-serif;
  }
  
}