.custom-select {
  display: flex;
  border: 1px solid #C5CBE0;
  flex-direction: column;
  margin: 1rem 0;
  padding: .5rem .5rem;
    label {
      color: #A3ABCC;
      font-size: 12px;

    }
  &__input {
    border: 0;
    background-color: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}