.welcome-page {
  padding: 0 1rem;
 &__message {
    padding: 2rem 0 1rem 0;
    p:first-child {
      font-family: 'lato', sans-serif;
      font-size: 28px;
      padding-bottom: 1rem;
      span {
        color: #EF3340
      }
    }
    p {
      color: #676F8F;
      font-family: 'roboto', sans-serif;
      font-size: 16px;
    }
  }
  &__desktop-content {
    display: none;
  }
  &__back-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .welcome-page {
    padding: 0;
    display: flex;
    &__back-container {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      p {
        margin-left: 1rem;
        color: #A3ABCC;
        text-transform: uppercase; 
        font-family: 'lato', sans-serif;
        font-size: 12px;
      }
    }
    &__message {
      grid-column-start: 1;
    }
    &__desktop-content {
      display: block;
      background: #F7F8FC;
      width: 60%  ;
      height: 100vh;
    }
    &__mobile-content {
      width: 100%; 
      padding-left: 5rem;
      padding-right: 10rem;
    }
    &__mobile-container {
      display: grid;
      grid-template-columns: 45% 1fr;
      grid-column-gap: 2rem;
    }
    &__search-container {
      justify-content: space-between;
      grid-column-start: 1;
    }
  }
}