.services {
  margin-top: 2rem;
  &-tab__container {
    display: flex;
    justify-content: space-between;
    button{
      border: 0;
      padding: 0;
      background: unset;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #494F66;
      cursor: pointer;
    }
  }
  &-amount__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
}