.carinfo {
  background: #fff;
  margin-top: 1rem;
  height: 6.8rem;
  padding: 1rem;
  &__content {
    position: relative;
    img {
      position: absolute;
      right: 0;
      top:-2rem;
    }
  }
}
@media screen and (min-width: 768px) {
  .carinfo {
    border: 3px solid #F0F2FA;
    border-radius: 12px;
  }
}