.carinfo {
  background: #fff;
  margin-top: 1rem;
  height: 6.8rem;
  padding: 1rem;
  &__content {
    position: relative;
    img {
      position: absolute;
      right: 0;
      top:-2rem;
    }
  }
}