.welcome-progress {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #F0F2FA;
  &__steps{
    color: #676F8F;
    font-size: 10px;
    font-weight: 700;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    margin-bottom: .8em;
    width: 40%;
    flex-wrap: nowrap;
    img{
      margin-bottom: -.5rem;
      padding-right: .5rem;
    }
  }
  &__progressbar-bg{
    background-color: #E4E8F7;
    width: 60%;
    position: relative;
    border-radius: 15px;
    margin-left: .5rem;
    height: 12px;
  }
  &__progressbar-bar{
    background-color: #6F7DFF;
    width:30%;
    position: absolute;
    top: 0;
    border-radius: 15px;
    height: 12px;
  }
  .full {
    width: 100%;
  }
}
@media screen and (min-width: 786px){
  .welcome-progress {
    display: none;
  }
}