@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");   
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}