.container {
  max-width: 1140px;
  margin: auto;
}

.error-message {
  p {
    color: #ff888d;
    padding-left: .5rem;
    font-size: 10px;
    padding-top: 4px;
    font-family: 'roboto',sans-serif;
  }
}
